body {
	background-color: #ffffff;
	font-family: Helvetica, sans-serif;
	width: 100%;
}

div.main {
	margin-top: 3em;
	text-align: center;
}

h1 {
	font-size: 3em;
	color: #383838;
}

a {
	text-decoration: none;
	font-size: 2em;
	color: #383838;
}
